[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pymongo = "*"
beautifulsoup4 = "*"
requests = "*"
flake8 = "*"
isort = "*"
black = "*"
mypy = "*"
confluent-kafka = "*"
motor = "*"
aioredis = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
pydantic-settings = "*"
structlog = "*"
celery = "*"
redis = "*"
asgiref = "*"
passlib = "*"
python-jose = "*"
asyncpg = "*"
schedule = "*"
fastapi-mail = "*"
aiohttp = "==3.8.5"
aioschedule = "==0.5.2"
pytest = "*"
httpx = "*"
pytest-asyncio = "*"
pytest-mock = "*"
flower = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"
