DATABASE_URL
LAMODA_DB_NAME
LAMODA_URL
TWITCH_DB_NAME
REDIS_HOST
REDIS_PORT
KAFKA_BROKER
CELERY_BROKER_URL
CELERY_RESULT_BACKEND
JWT_SECRET_KEY
JWT_REFRESH_SECRET_KEY
EMAIL_HOST_PASSWORD
EMAIL_HOST_USER